[Unit]
Description=mongodb_exporter - MongoDB metrics exporter for Prometheus.
Documentation=https://github.com/William-Yeh/ansible-mongodb-exporter
After=network.target

[Service]
Type=simple

User={{ mongodb_exporter_user }}
Group={{ mongodb_exporter_group }}

ExecStart=/usr/local/bin/mongodb_exporter  -logtostderr=true  -mongodb.uri={{ mongodb_exporter_mongodb_uri }}
